body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F9F6EE;
}

.cv {
    display: flex;
    align-items: center;
    margin: 30%;
}

h1 {
    text-align: right;
    font-size: 40px;
}

.button {
    text-align: center;
    display: inline-block;
    background-color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    border: 1px solid;
    padding: 8px 40px;
    box-shadow: 3px 6px purple;
    font-family: sans-serif;
    margin: -38px;
}

.button:hover {
    background-color: purple;
    transform: translateY(-1px);
    border: 1px solid;
    padding: 8px 40px;
    box-shadow: 3px 6px white;
}